body {
	margin: 0;
	padding: 0;
  position: fixed;
  display: block;
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	height: 100%;
}

#loading {
	position: fixed;
	top: 40%;
	width: 100%;
	/*width:30em;
    height:18em;
    */
	font-size: 14pt;
	text-align: center;
}


#controlPanel {
	font-size: 2.5vw;
	overflow: scroll !important;
	word-wrap: break-word;
	display: table-cell;
  vertical-align: top;
  background-color : beige;
  padding : 8px;
  border: 3px solid blue;
  min-width: 5px;
  overflow: scroll;
}

@media screen and (min-width: 600px) {
    #controlPanel {
        font-size: 14px;
    }
}

#canvasBoard:hover {
  cursor:crosshair;
}
.title {
    font-size: 120%;
    font-weight: bold;
}
