body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	height: 100%;
}

#loading {
	position: fixed;
	top: 40%;
	width: 100%;
	/*width:30em;
    height:18em;
    */
	font-size: 14pt;
	text-align: center;
}

#controlPanel {
  vertical-align: top;
  display: table-cell;
  background-color : red;
}
